<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="UTF-8" />
<title>El Fortin Agropecuaria Cardales</title>
<!-- <link href="image/favicon.png" rel="icon" />-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="insumos agropecuarios, agroquimicos, herbicidas, insecticidas, fertilizante plantas, funguicidas, panes de césped, semillas, mamboretá, gleba, glifosato, cipermetrina, roundup, clorpirifos, clap, glextrin, ddvp, clorfox, togar, veneno hormigas, veneno ratas, pesticidas, plaguicidas, insumos fumigaciones, veneno plagas, productos para el jardin vivero huerta campo, tierra para plantas">
<meta name="author" content="Verticedigital.com.ar">
<!-- CSS Part Start-->
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="css/slideshow.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen" />
<link rel="stylesheet" type="text/css" href="js/colorbox/colorbox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/carousel.css" media="screen" />
<!-- CSS Part End-->
<!-- JS Part Start-->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/jquery.easing-1.3.min.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/cloud_zoom.js"></script>
<script type="text/javascript" src="js/jquery.dcjqaccordion.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<!-- JS Part End-->
<!-- Google Fonts (Droid Sans) Start -->
<link href='//fonts.googleapis.com/css?family=Droid+Sans&v1' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=&v1' rel='stylesheet' type='text/css'>
<!-- Google Fonts (Droid Sans) End -->
</head>
<body>
<div class="wrapper-box">
  <div class="main-wrapper">
    <!--Header Part Start-->
    <header id="header">
      <!--<div class="htop">
        <div id="language"> <span><b>ventas@fortinagropecuaria.com.ar</b></span></div>
        <div id="currency"> <span><b>Tel: 02304-430150 - Cel: 011-15-66060977 - Nextel: 705*69</b></span></div>
        
      </div>-->
      <section class="hsecond">
        <div id="logo"><a href="index.html"><img src="image/logo01.png"></a></div>
        
        <!--Mini Shopping Cart Start-->
        
        <!--Mini Shopping Cart End-->
        <div class="clear"></div>
      </section>
      <!--Top Menu(Horizontal Categories) Start-->
      <nav id="menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li class="categories_hor"><a href="nosotros.html">Nosotros</a></li>
          <li><a href="#">Productos</a>
            <div>
              <ul>
                    <li><a href="agricultura.html">Agricultura</a></li>
                    <li><a href="horticultura.html">Horticultura</a></li>
                    <li><a href="polo.html">Polo</a></li>
                    <li><a href="golf.html">Golf</a></li>
                    <li><a href="jardines.html">Jardines y espacios verdes</a></li>
                    <li><a href="plagas.html">Control de Plagas</a></li>
              </ul>
            </div>
          </li>
          <li><a href="contacto.html">Contactanos</a></li>
          <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="mailto:ventas@fortinagropecuaria.com.ar">ventas@fortinagropecuaria.com.ar</a></li>
          <li><a href="#">Tel: 02304-430150</a></li>
        </ul>

        

      </nav>
      <!--Top Menu(Horizontal Categories) End-->
      <!-- Mobile Menu Start-->
      <nav id="menu" class="m-menu"> <span>Menu</span>
        <ul>
          <li class="categories"><a href="index.html">Home</a>
            <div>
              <div class="column"> <a href="#">Home</a>
              </div>
              <div class="column"> <a href="nosotros.html">Nosotros</a>
                
              </div>
              <div class="column"> <a href="#">Productos</a>
                <div>
                  <ul>
                    <li><a href="agricultura.html">Agricultura</a></li>
                    <li><a href="horticultura.html">Horticultura</a></li>
                    <li><a href="polo.html">Polo</a></li>
                    <li><a href="golf.html">Golf</a></li>
                    <li><a href="jardines.html">Jardines y espacios verdes</a></li>
                    <li><a href="plagas.html">Control de Plagas</a></li>
                  </ul>
                </div>
              </div>
              
              <div class="column"><a href="contacto.html">Contactanos</a></div>
              <div class="column"><a href="mailto:ventas@fortinagropecuaria.com.ar">ventas@fortinagropecuaria.com.ar</a></div>
              <div class="column"><a href="#">Tel: 02304-430150</a></div>
            </div>
          </li>
        </ul>
      </nav>
      <!-- Mobile Menu End-->
    </header>
    <!--Header Part End-->
    <div id="container">
      
      <!--Middle Part Start-->
      <div id="content">
        <!--Breadcrumb Part Start-->
        <div class="breadcrumb">  </div>
        <!--Breadcrumb Part End-->
        <h1>Horticultura</h1>
        <div class="product-filter">
          
          <div class="limit"><b>Mostrar:</b>
            <select >
              <option value="15" selected="selected">15</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="75">75</option>
              <option value="100">100</option>
            </select>
          </div>
          
        </div>
        
        <!--Product Grid Start-->
        <form enctype="multipart/form-data" method="post" action="">
          <div class="cart-info">
            <table>
              <thead>
                <tr align="center">
                  <td class="image" align="center">Princ. Activo</td>
                  <td class="image" align="center">Nombre</td>
                  <td class="image" align="center">Laboratorio</td>
                  <td class="image" align="center">Presentación</td>
                  <td class="image" align="center">Centro</td>
                  <td class="image" align="center">Ampliar Info</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="image" align="center"><a href="#">Herbicida</a></td>
                  <td class="naimageme" align="center">Roundup</td>
                  <td class="image" align="center">Monsanto</td>
                  <td class="image" align="center">20 lts</td>
                  <td align="center"><a href="solicita_cotizacion.html"><input type="button" value="Solicitar Cotización" class="button2" /></a></td>
                  <td align="center"><a href="detalle_producto.html"><input type="button" value="Ampliar" class="button3" /></a></td>
                </tr>
                <tr>
                  <td class="image" align="center"><a href="#">Herbicida</a></td>
                  <td class="naimageme" align="center">Roundup</td>
                  <td class="image" align="center">Monsanto</td>
                  <td class="image" align="center">20 lts</td>
                  <td align="center"><a href="solicita_cotizacion.html"><input type="button" value="Solicitar Cotización" class="button2" /></a></td>
                  <td align="center"><a href="detalle_producto.html"><input type="button" value="Ampliar" class="button3" /></a></td>
                </tr>
                <tr>
                  <td class="image" align="center"><a href="#">Herbicida</a></td>
                  <td class="naimageme" align="center">Roundup</td>
                  <td class="image" align="center">Monsanto</td>
                  <td class="image" align="center">20 lts</td>
                  <td align="center"><a href="solicita_cotizacion.html"><input type="button" value="Solicitar Cotización" class="button2" /></a></td>
                  <td align="center"><a href="detalle_producto.html"><input type="button" value="Ampliar" class="button3" /></a></td>
                </tr>
                <tr>
                  <td class="image" align="center"><a href="#">Herbicida</a></td>
                  <td class="naimageme" align="center">Roundup</td>
                  <td class="image" align="center">Monsanto</td>
                  <td class="image" align="center">20 lts</td>
                  <td align="center"><a href="solicita_cotizacion.html"><input type="button" value="Solicitar Cotización" class="button2" /></a></td>
                  <td align="center"><a href="detalle_producto.html"><input type="button" value="Ampliar" class="button3" /></a></td>
                </tr>
                <tr>
                  <td class="image" align="center"><a href="#">Herbicida</a></td>
                  <td class="naimageme" align="center">Roundup</td>
                  <td class="image" align="center">Monsanto</td>
                  <td class="image" align="center">20 lts</td>
                  <td align="center"><a href="solicita_cotizacion.html"><input type="button" value="Solicitar Cotización" class="button2" /></a></td>
                  <td align="center"><a href="detalle_producto.html"><input type="button" value="Ampliar" class="button3" /></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
        <!--Product Grid End-->
        <!--Pagination Part Start-->
        <div class="pagination">
          <div class="links"> <b>1</b> <a href="#">2</a> <a href="#">&gt;</a> <a href="#">&gt;|</a></div>
          <div class="results">Showing 1 to 15 of 16 (2 Pages)</div>
        </div>
        <!--Pagination Part End-->
      </div>
      <!--Middle Part End-->
      <div class="clear"></div>
    </div>
  </div>


  <!-- Carousel Start-->
        <section id="carousel">
          <ul class="jcarousel-skin-opencart">
            <li><a href="#"><img src="image/product/responsive1.jpg"></a></li>
            <li><a href="#"><img src="image/product/responsive2.jpg"></a></li>
            <li><a href="#"><img src="image/product/responsive3.jpg"></a></li>
            <li><a href="#"><img src="image/product/responsive4.jpg"></a></li>
            <li><a href="#"><img src="image/product/responsive5.jpg"></a></li>
            <li><a href="#"><img src="image/product/responsive6.jpg"></a></li>
          </ul>
        </section>
        <!-- Carousel End-->
  <!--Footer Part Start-->
  <footer id="footer">
    <div class="fpart-inner">
      <div class="social-part">
        <!-- Custom Column Part Start-->
        
        
        <!-- Facebook Box Part End-->
      </div>
      <div class="column">
        <h3>Información</h3>
        <ul>
          <li><a href="#">Estanislao López 1138, ex Ruta 8</a></li>
          <li><a href="#">Pilar, Buenos Aires, Argentina.</a></li>
           <li><a href="#">Horarios: Lunes a Viernes de 8 a 18 y Sabados de 8 a 13hs.</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="column">
        
        <ul>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="column">
        
        <ul>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <!-- Contact Details Start-->
      <div class="contact contact_icon">
        <h3>Contactanos</h3>
        <ul>
          <li class="fax">Nextel: 705*69</li>
          <li class="mobile">011-15-66060977</li>
          <li class="fax">02304-430150</li>
          <li class="email"><a href="mailto:ventas@fortinagropecuaria.com.ar">ventas@fortinagropecuaria.com.ar</a></li>
        </ul>
      </div>
      <!-- Contact Details End-->
      <div class="clear"></div>
      <div id="powered">
        <!-- Payment Images Icon Start-->
        <div class="payments_types part3"> <ig src="image/payment_paypal.png" alt="paypal" title="PayPal"> <ig src="image/payment_american.png" alt="american-express" title="American Express"> <ig src="image/payment_2checkout.png" alt="2checkout" title="2checkout"> <ig src="image/payment_maestro.png" alt="maestro" title="Maestro"> <ig src="image/payment_discover.png" alt="discover" title="Discover"> </div>
        <!-- Payment Images Icon End-->
        <!-- Powered by Text Start-->
        <div class="powered_text part3">
          <p>Fortin Agropecuaria © 2018<br />
              Designed By <b>Vertice Digital</b></p>
        </div>
        <!-- Powered by Text End-->
        <!-- Follow Social Icons Start-->
        <div class="social part3"> <a href="http://facebook.com/harnishdesign" target="_blank"><img src="image/facebook.png" alt="Facebook" title="Facebook"></a> <a href="https://twitter.com/#!/harnishdesign" target="_blank"><img src="image/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img src="image/googleplus.png" alt="Google+" title="Google+"> </a>  </div>
        <!-- Follow Social Icons End-->
        <div class="clear"></div>
      </div>
      <!-- Back to Top Button Start-->
      <div class="back-to-top" id="back-top"><a title="Back to Top" href="javascript:void(0)" class="backtotop">Top</a></div>
      <!-- Back to Top Button End-->
    </div>
  </footer>
  <!--Footer Part End-->
</div>
</body>
</html>